<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div>
    <div class="logo">QUIZ QUEST</div> <!-- 로고 추가 -->
    <div class="login-container">
        <h2>로그인</h2>
        <form th:action="@{/loginProc}" method="POST">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="input-field">
            <input name="userId" type="text" placeholder="ID" required>
        </div>
        <div class="input-field">
            <input name="password" type="password" placeholder="PW" required>
            <input type="checkbox"  name="remember" /> 자동 로그인
        </div>
        <button type="submit" class="button">로그인</button>
        </form>
        <button class="button">회원가입하기</button>
        <div class="footer">
            <a href="#">비밀번호 재설정</a>
            <div class="social-buttons">
                <a  class="google"  href="/oauth2/authorization/google"><img th:src="@{/img/google-logo.svg}" alt="google-login"/> </a>
                <a class="fab fa-github github" href="/oauth2/authorization/github"></a>
                <!--<a href="#"><img src="https://image-url.com/naver-icon.png" alt="Naver"></a>-->
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
