<!DOCTYPE html>
<html>
<head>
  <title>SSE Example</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>SSE Example</h1>

<div id="content"></div>
<script>
  const eventSource = new EventSource("/api/v1/notification/subscribe/1");
  const content = document.getElementById("content");

  eventSource.onmessage = function(event) {
    console.log("마지막 메시지 이벤트 Id", event.lastEventId);
    console.log(event.data);
  }

  eventSource.onerror = (error) => {
    console.error("SSE 에러:", error);
  };

  eventSource.onclose = () => {
    console.log("SSE 연결 종료");
  };
</script>
<!--<script>
  const eventSource2 = new EventSource("/api/v1/message/global/stream");

  eventSource2.onmessage = (event) => {
    console.log("메시지 수신:", event.data);
    content.innerHTML += `<p>${event.data}</p>`;
  };

  eventSource2.onerror = (error) => {
    console.error("SSE 에러:", error);
  };

  eventSource2.onclose = () => {
    console.log("SSE 연결 종료");
  };
</script>-->
<script>
  
  function streamTest()
  {
    const data = {
      notificationType: 1,
      url: "www.google.com"
    };
    axios.post('http://localhost:8080/api/v1/notification/send/1', data)
            .then(response => {
              console.log('Success:', response.data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }
</script>

<!--<script>
  function streamTest2()
  {
    const data = {
      senderId: 1,
      receiverId: 2,
      messageContent: "안녕하세요! 글로벌메시지 내용입니다. 테스트입니다!!",
      isNotice : true,
      receiver: {
        userId: "test1"  // receiver 객체에 userId와 username 추가
      }
    };

    axios.post('http://localhost:8080/api/v1/message/global/emit', data)
            .then(response => {
              console.log('Success:', response.data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }
</script>-->

<Button onclick="streamTest()">스트림 테스트</Button>
<Button onclick="streamTest2()">스트림 테스트2 글로벌메시지</Button>
</body>
</html>